{% extends "base.html" %}

{% load static %}

<!-- ESCRIBE TITULO-->
{% block titulo %} Gato Doraemon {% endblock titulo %}

<!--ESCRIBIR NAVEGACION :) -->
{% block navegacion %} 

<a href="{% url 'INDEX' %}"> HOME> </a> 
<a href="{% url 'GATOS' %}">GATOS</a>

{% endblock navegacion %}

<!--FIN ESCRIBIR NAVEGACION -->

<!--CONTENIDO ESTANDAR -->
{% block contenido %}
            <td><img src="{% static 'img/gato2.jpg' %}" alt="" width="250" height="260"></td>
            <td>Nombre: Doraemon <br> Edad: 100 años <br> Genero: Desconocido <br> Esterilizado: Desconocido <br> Nro. chip: 666</td>
{% endblock contenido %}

<!--FIN CONTENIDO ESTANDAR-->
