{% extends "base.html" %}

{% load static %}

<!-- ESCRIBE TITULO-->
{% block titulo %} ayudaPeludo {% endblock titulo %}

<!--ESCRIBIR NAVEGACION :) -->
{% block navegacion %} 

<a href="{% url 'INDEX' %}"> HOME </a> 

{% endblock navegacion %}

<!--FIN ESCRIBIR NAVEGACION -->

<!--lectura interesante-->
{% block lectura %}
<h1> <b>
                PERROS EN ADOPCION
            </b> </h1>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. <br> Cupiditate, minima temporibus. Saepe quas
            accusantium pariatur sunt consectetur iste alias, <br> odio quod voluptatum vero, necessitatibus nulla
            at
            veritatis ullam quaerat ducimus.
        </p>

        <h3>
            NUESTROS PERROS QUE BUSCAN FAMILIA:
        </h3>
{% endblock lectura %}
<!--fin lectura interesante-->

<!--CONTENIDO ESTANDAR -->
{% block contenido %}
            <tr>
                    <td><img src="{% static 'img/perro2.jpg' %}" alt="" width="200" height="200"> </td>
                    <td><a href="{% url 'SCOOBY' %}">Scooby Doo</a></td>
                </tr>
                <tr>
                    <td><img src="{% static 'img/perro3.jpg' %}" alt="" width="200" height="200"></td>
                    <td><a href="{% url 'PATAN' %}">Patan</a></td>
                </tr>
                <tr>
                    <td><img src="{% static 'img/perro4.jpg' %}" alt="" width="200" height="200"></td>
                    <td> <a href="{% url 'CORAJE' %}"> Coraje </a></td>
                </tr>
{% endblock contenido %}

<!--FIN CONTENIDO ESTANDAR-->